# Dependencies
node_modules

# Content Collections
.content-collections

# Output
api-routes/src/data
.output
.vercel
.netlify
.wrangler
/.svelte-kit
build
dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
