# Dependencies
node_modules
package-lock.json
yarn.lock

# Folders
/.svelte-kit
/build
/package
.idea/

# Logs
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/figma/dist