@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'General-Sans';
  src: url('/fonts/GeneralSans-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
