@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sb-track-color: rgb(229 229 229 / 0.5);
    --sb-thumb-color: #d4d4d4;
    --sb-size: 10px;
  }

  .dark {
    --sb-track-color: #171717;
    --sb-thumb-color: #404040;
    --sb-size: 10px;
  }
}

@layer base {
  body,
  nav {
    scrollbar-color: var(--sb-thumb-color) transparent;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
  }

  aside::-webkit-scrollbar {
    width: var(--sb-size);
  }

  aside::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }

  aside::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
  }

  nav::-webkit-scrollbar {
    width: var(--sb-size);
  }

  nav::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }

  nav::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
  }
}

@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2');
  font-display: swap;
}
